{% extends 'base.html' %}
{% block title %}Tシャツ鑑定アプリメニュー
{% endblock %}

{% block content %}
<div>
	<h4 class="mt-4 mb-5 border-bottom">Tシャツ鑑定アプリ</h4>
	<p>鑑定ボタン</p>
	<form action="{% url 'valuator:valuate' %}" method="post" class="form" enctype="multipart/form-data">
	{% csrf_token %}
	<div class="form-group">
		<div class="custom-file">
			{{ form.image }}
			<label class="custom-file-label" for="customFile">Tシャツの画像ファイルを選択</label>
		</div>
	</div>
	<button type="submit" class="btn btn-primary">鑑定！</button>
	</form>
	<br><br>
	<table class="table">
        <tbody>
			{% for tshirt in tshirts.all %}
            <tr>
                <td>プレビュー</td>
                <td><img class="preview-img" src='{{ tshirt.image.url }}'></img></td>
            </tr>
            <tr>
                <td>鑑定結果</td>
                <td>{{ tshirt.price_range }}円</td>
            </tr>
            <tr>
                <td>メモ</td>
                <td>{{ tshirt.summary }}</td>
            </tr>
            <tr>
                <td>信頼度</td>
                <td>{{ tshirt.confidence }}%</td>
            </tr>
			<tr>
                <td>鑑定日</td>
                <td>{{ tshirt.saved_at }}%</td>
            </tr>
			{% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}