{% extends 'base.html' %}
{% block title %}Tシャツ鑑定アプリメニュー
{% endblock %}

{% block content %}
<div>
	<h4 class="mt-4 mb-5 border-bottom">最近の結果</h4>
	<table class="table">
        <tbody>
			{% for tshirt in tshirts.all %}
            <tr>
				<td><img class="img-fluid rounded" src='{{ tshirt.image.url }}'></img></td>
                <td>
					<div>鑑定結果</div>
					<div>{{ tshirt.price_range }}</div>
					<div><a href="{% url 'valuator:tshirt_detail' tshirt.id %}">詳細を確認</a></div>
				</td>
			</tr>
			{% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}